.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  background-image: url("../images/liloveve-banner.jpg");
  position: relative;
  width: 100%;
  padding-top: 30.25%; /* 56.25% is 16:9 aspect ratio */
  display: grid;
  place-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-top: 10px; */
}

.banner button {
  padding: 10px 20px;
  margin-bottom: 100px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

/* .box {
    display: grid;
    place-items: center;
    height: 200px;
    width: 200px;
    background-color: #ccc;
  } */
