.mainNavMenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .mainNavMenu__left,
  .mainNavMenu__right {
    flex: 0 1 30%;
    margin-right: 20px;
  }
  
  .mainNavMenu__center {
    flex: 1 1 auto;
  }
  
  .mainNavMenu__center__list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .mainNavMenu__center__list h1 {
    margin: 0 10px;
  }
  