@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;1,300;1,700&display=swap');

/* background white until we finish all the components*/
.body {
   background-color: #ffffff; 
   color: black; 
   font-family: 'Roboto', sans-serif;
}