@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;1,300;1,700&display=swap');

/* background color is eggshell white  */
* {
   background-color: #F0EAD6; 
   color: black; 
   font-family: 'Roboto', sans-serif;
}